@import "data-form";
@import "../style.css";

html,
body {
  font: 18px/1.5 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #444;
  font-weight: 500;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover, a:focus {
  color: #000;
}

#app, #editor-wrapper, .view-wrapper {
  width: 100%;
  height: 100%;
}

.view-wrapper {
  position: fixed;
}

.view-wrapper.card-open {
  width: 57%;
}
